<form [formGroup]="loginform" (ngSubmit)="onSubmit()">
 
<div class="container" style="margin-top: 60px;">
   <div class="row" >
      <div class="col-sm-1">
      </div>
      <div class="col-sm-9">
         <mat-card>
            <div class="login-container">
               <div class="login-left"><br />
                 <h6 style="font-weight: bold;margin-top: 15px;">AKIJBASHIR GROUP</h6>
                 <P style="font-weight: bold;">KEY PERFORMANCE INDICATOR(KPI)</P>
      
                 <!-- <span style="height: 0.1rem;border:0.1rem solid rgb(219, 216, 216);width: 350px;text-align: center;"></span> -->
                
                 <div style="margin-top: 6px;">
                  <button (click)="GoToFB('https://www.facebook.com/AkijBashir/')" type="button" mat-mini-fab style="background-color: #0041a3;border-radius: 100%;float: right;margin-left: 7px;"><mat-icon style="color: white;">facebook</mat-icon></button> &nbsp;
                  <!-- <button (click)="GoToMail('https://www.instagram.com/p/DCMgmBovfAt/?img_index=1')" type="button" mat-mini-fab style="background-color: #e8ebf0;border-radius: 100%;float: right;margin-left: 7px;"><i class='fa fa-instagram'></i></button> -->
                  <button (click)="GoToLinkedin('https://bd.linkedin.com/company/akijbashir')" type="button" mat-mini-fab style="background-color: #0a66c2;border-radius: 100%;float: right;"><mat-icon style="color: white;">linkedin</mat-icon></button>
                 </div>
                 <!-- <span style="height: 1px;border:1px solid rgb(219, 216, 216);width: 350px;text-align: center;margin-top: 6px;"></span> -->
                 <p style="margin-top: 20px;"> Please Visit With Us</p>
            
            
                 <div class="row" style="margin: 1px;">
                  <!-- <label for="email" style="font-weight: bold;">Email</label> -->
                  <mat-form-field appearance="outline">
                    <mat-label style="font-weight: bold;">Email</mat-label>
                     <mat-icon matListItemIcon matPrefix>email</mat-icon>
                    <input  formControlName="UserID" matInput placeholder="Enter Your Email" class="example-full-width" [ngClass]="{ 'is-invalid': submitted && f['UserID'].errors }">
                    <div *ngIf="submitted && f['UserID'].errors" class="invalid-feedback">
                       <div *ngIf="f['UserID'].errors['required']">User Mail is Required</div>
                     </div>
                  </mat-form-field>
                  
                  
                  <!-- <label for="password" style="font-weight: bold;">Password</label> -->
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <mat-icon matListItemIcon matPrefix>vpn_key</mat-icon>
                    <input type="password" formControlName="Emppass" matInput placeholder="Enter Your Password" class="example-full-width" [ngClass]="{ 'is-invalid': submitted && f['Emppass'].errors }">
                    <div *ngIf="submitted && f['Emppass'].errors" class="invalid-feedback">
                       <div *ngIf="f['Emppass'].errors['required']">Password is Required</div>
                     </div>
                </mat-form-field>

                
                 <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>User Type</mat-label>
                    <mat-icon matListItemIcon matIconPrefix >menu</mat-icon>
                    <mat-select formControlName="UserTypeID" [ngClass]="{ 'is-invalid': submitted && f['UserTypeID'].errors }">
                        <mat-option *ngFor="let list of usertypelist" [value]="list.usertypeid">
                                {{list.usertype}}
                        </mat-option>
                    </mat-select>
                    <div *ngIf="submitted && f['UserTypeID'].errors" class="invalid-feedback">
                        <div *ngIf="f['UserTypeID'].errors['required']">User Type is Required</div>
                    </div>
                </mat-form-field>
                 </div>
                  
               

                 <button mat-flat-button color="primary" style="width: 95%;font-family: 'Roboto';min-height: 40px;" type="submit">Sign In</button>
                 <mat-progress-bar mode="indeterminate" style="margin-top: 5px;" [style.visibility]="this.loginservice.loading ? 'visible' : 'hidden' " ></mat-progress-bar>
                 <p style="margin-top: 20px;">Don't have an account? <a href="https://erp.akijbashir.com/" target="_blank">Sign Up Now</a></p>
               </div>
               <div class="login-right" style="background-color: rgb(245, 249, 252);">
                 <div class="login-info">
                   <h3>Why should I login?</h3>
                   <p>By logging in, you can access your personal dashboard, where you can manage your KPI, view your profile, and much more.</p>
                   <img src="../../../assets/login-image.jpg" alt="Dashboard example" style="border-radius: 200px;">
                 </div>
                 
               </div>
             </div>
             <p style="font-size: 12px;text-align: right;margin-right: 5px ;">{{copyright}}</p>
         </mat-card>

      </div>
      <div class="col-sm-2">

      </div>
   </div>
</div>
</form>