body{
    font-family: "Montserrat";
}
:host * {
    transition: all 500ms ease-in-out;
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}

.menu-item{
    border-left: 5px solid;
    border-left-color: var(--primary-color);
    font-size: 10px;
    font-family: "Montserrat";
}


.sidenav-header{
    padding-top: 20px;
    text-align:center;
    
    > img{
        width: 50%;
        height: 30%;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 10;
    }

    .header-text{
        font-family: "Montserrat";
        height: 3rem;
     > h2 {
        font-family: "Montserrat";
        margin-top: 10px;
        font-size: 0.9rem;
        line-height: 1.5rem;
        font-weight: bold;
     }

     > p{
        margin:0;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: "Montserrat";
     }
    } 
}

.hide-header-text{
    opacity: 0;
    height: 0px !important;
    font-family: "Montserrat";
}







