
.content{
    padding: 24px;

}

.example-spacer {
    flex: 1 1 auto;
  }

mat-icon{
    color:white
}

mat-toolbar
{
    position: relative;
    z-index: 5;
    background-color: #3b4045; 
    color: white;
}

mat-sidenav {
    box-shadow: 1px 1px 1px 1px #888888;
    font-size: 10px;
  }

mat-sidenav-container{
    height: calc(100vh - 64px);
}

mat-sidenav, mat-sidenav-content
{
    font-size: 10px;
    transition: all 500ms ease-in-out;
}

